@font-face {
    font-family: AvantGardeMedium;
    src: url(fonts/ITC\ Avant\ Garde\ Gothic\ Medium.otf);
}

html{
    height: 100%;
}

/*main gradient*/
body{
    background-image: linear-gradient(#60bff0, #c7e7fc);
}

/*setting font*/
*{
    font-family:AvantGardeMedium;
}

.headers{
    color:#fafbfa;
    margin-left: 1em;
    display: inline-block;
}

#ghibli-header-div{
    border: #fafbfa solid 4px;
    margin: 10pt;
}

#nav-div{
    margin: 10pt;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    display:block;
}


.button{
	color: #fafbfa;
	background: none;
	border-radius: 2em;
    vertical-align: middle;
	padding: 1em 4em;
	letter-spacing: 0.35em;
	font-size: 0.7em;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	margin: .8em;
    box-shadow: inset 0 0 0.8em rgba(255,255,255,0.3), 0 0 0.8em rgba(255,255,255,0.3);
	border: #fafbfa solid 2px;   
    display: inline-block;
}

.button:hover{
    color: #60bff0;
	background-color: #fafbfa;
	box-shadow: inset 0 0 0 rgba(255,255,255,0.3), 0 0 1.2em rgba(255,255,255,0.5);
}

input[type=text]{
    color: #fafbfa;
    background: none;
    border-radius: 4pt;
    border: #fafbfa solid 2px; 
    font-size: 16px;  
    vertical-align: middle;
    display: inline-block;
    transition: 180ms box-shadow ease-in-out;  
}
/* What if you added a color change on focus?? */
input[type=text]:focus {
    outline: 3px solid transparent;
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) +40%), 0.8);
    background:#fafbfa;
    color:#60bff0;
}

.results-pop-up{
    display: none;
    position: absolute;
    background-color: #00000093;
    color: white;
    height: 15rem;
    width: 15rem;
    overflow: hidden;
}

#results-div{
    margin: 1rem;
}

.results-card { 
    border: grey solid 2px;
    display: inline-grid;
    height: 15rem;
    margin: 0.5em;
    width: 15rem;
}

.results-card img { 
    height:inherit;
    object-fit: cover;
    width:inherit; 
}

.results-card:hover .results-pop-up{
    display:block;
}

.results-pop-up h3{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}

.card-p{
    display: -webkit-box;
    max-width: 15rem;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    font-size: 9pt;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}

.more-info-div{
    display: flex;
    background-color: rgba(0, 0, 0, 0.233);
}

.more-info-image{
    border: grey solid 2px;
    height: 50vh;
    margin: 0.5em;
    width: auto;
}


#more-info-text {
    flex-grow: 1;
    align-self: flex-end;
}

.mini-cards{
    border: grey solid 2px;
    height: 12vh;
    margin: 0.5em;
    width: 12vh;
    position: relative;
}

.mini-cards img {
    height:inherit;
    object-fit: cover;
    width:12vh; 
}

.mini-cards-info{
    position: absolute;
}
